canvas.handlernodes {
    position: absolute;
    margin-top: 0px;
    width: 280px;
    height: 100px;
    border-radius: 0px;
    background: linear-gradient(to bottom, #109fef 30.5%, #06ffff 100%) #000;
}


/*
 * Mailchimp
 */

.registration,
#mc_embed_signup {
padding: 0 auto;
margin: 0 auto;
padding-bottom: 0px;
}

.validation {
padding: 0px;
margin: 0px;
padding-top: 50px;
}

.registration span#request p {
position: relative;
top: 5px;
margin: 0;
text-align: center;
font: 14px Helvetica, Geneva, sans-serif;
color: #000;
}

.validated {
position: relative;
top: 40px;
padding: 1px 0px;
font: 14px Helvetica neue, Geneva, sans-serif;
color: #fff;
border-radius: 4px;
width: 300px;
background: #444;
text-shadow: none;
}

.validated p#share{
padding-top: 15px;
padding-bottom: 0px;
}

a#twitter-btn{
border: 3px solid #35acee;
color: #35acee;
padding: 20px 35px 20px 90px;
border-radius: 50px;
top: 50px;
position: relative;
font-weight: bold;
font-size: 20px;
background: url(../../../assets/img/Twitter_logo_blue.png) 30px 13px no-repeat;
}

a#twitter-btn:hover{
color: #fff;
background: url(../../../assets/img/Twitter_logo_white.png) 30px 13px no-repeat #35acee;
text-decoration: none;
border: none;
}

div.input-group{
margin: 0 auto;
padding: 0px auto;
}

#mc-embedded-subscribe-form div.input-group span.input-group-addon{
color: #50acee;
background: #ffffff;
border: 1px solid #ffffff;
border-right: none;
}

input#mce-EMAIL.form-control.required.email {
font: 14px Helvetica neue, Geneva, sans-serif;
height: 45px;
color: #333333;
border: 1px solid #ffffff;
background: #f5f8fa;

}


button#mc-embedded-subscribe.btn.btn-default {
background: #804dcc;
color: #ffffff;
height: 45px;
border: 1px solid #804dcc;
letter-spacing: 1px;
}

button#mc-embedded-subscribe.btn.btn-default:hover{
background: #804dcc;
color: #ffffff;
}

div#mce-success-response.response {
position: relative;
color: #fff;
background: rgba(0, 0, 0, 0.6);
font: 12px/1.6em "Helvetica neue", Arial, Geneva,sans-serif;
top: 10px;
padding: 10px 0px;
border-radius: 30px;
}

div#mce-error-response.response {
position: relative;
color: #fff;
background: rgba(0, 0, 0, 0.6);
font: 12px/1.6em "Helvetica neue", Arial, Geneva,sans-serif;
top: 10px;
padding: 10px 0px;
border-radius: 30px;
}

div.mce_inline_error {
position: absolute;
top: 60px;
color: #fff;
background: rgba(0, 0, 0, 0.6);
text-align: center;
font: 12px "fontlight", Helvetica, Geneva, sans-serif;
text-shadow: none ;
padding: 15px;
border-radius: 30px;
z-index: 1;
}

